---
title: TidyTuesday Problem Picker
date: 2022-10-08
categories: [TidyTuesday, Recipe]
draft: false
---

## Summary

Choose a random a problem for the **TidyTuesday** back catalogue, along with random data and graph libraries for a bit of spice.

## Dependencies

In [1]:
from random import choice
import pandas as pd

In [2]:
%load_ext watermark
%watermark --iv

pandas: 1.5.0

## Function

In [3]:
def select_project() -> pd.Series:
    def find_prev_tuesday(dt):
        date = dt.copy()
        while date.weekday != 2:
            date = date - pd.Timedelta(days=1)
        return date.date

    def get_url(date):
        url_str = ( 'https://github.com/rfordatascience/tidytuesday/blob/master'
                   + f'/data/{date.year}')
        print(url_str)
        return url_str

    return (
        pd.DataFrame(
                index=pd.date_range(
                            start='2018-04-02',
                            end=pd.to_datetime('today').normalize(),
                            freq='W'
                )
        ).sample(1)
        .assign(
            #weekno=lambda df: [x + 1 for x in range(df.shape[0])],
            date=lambda df: find_prev_tuesday(df.index),
            url=lambda df: df.date.map(get_url),
            datalib=choice(['pandas',
                            'polars',
                            'duckdb',
                            'ibis',
                            'sqlite3']),
            graphlib=choice(['seaborn',
                             'plotly',
                             'altair'])
        ).sample(1)
    )

## Main

In [4]:
select_project()

https://github.com/rfordatascience/tidytuesday/blob/master/data/2019

,date,url,datalib,graphlib
2019-06-09,2019-06-05,https://github.com/rfordatascience/tidytuesday...,sqlite3,altair

## History

1. 2021-09-28, Economic records > `Ibis, Seaborn`